api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":80"

log:
  level: DEBUG

experimental:
  localPlugins:
    oidc:
      moduleName: github.com/jacobdam/traefik-oidc

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true
